.feature-box { //SECTION ABOUT
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s; //Gives the transition between the translate Y, Scale and the normal state.

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block; //faz com que o bloco de texto tenha somente o tamanho da propria frase e não o width da tela inteira
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text; // deixa o background somente no tamanho da frase, das letras
        color: transparent; // transforma as letras em transparente pra assim ver o background clipado
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}